block vendor_scripts
  script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/tween.js/16.3.5/Tween.min.js')
  script(src='/vendor/Semantic-UI/dist/semantic.min.js')
  script(src='/vendor/threejs/examples/js/libs/dat.gui.min.js')
  script(src='/vendor/threejs/build/three.js')
  script(src='/vendor/threejs/examples/js/libs/stats.min.js')
  script(src='/vendor/threejs/examples/js/controls/OrbitControls.js')
  script(src='/vendor/threejs/examples/js/loaders/DDSLoader.js')
  script(src='/vendor/threejs/examples/js/loaders/MTLLoader.js')
  script(src='/vendor/threejs/examples/js/loaders/OBJLoader.js')
  script(src='/vendor/threejs/examples/js/libs/ammo.js')
  script(src='/vendor/threejs/examples/js/shaders/UnpackDepthRGBAShader.js')
  script(src='/vendor/threejs/examples/js/SkyShader.js')
block scripts
  script(src='/dist/game.js')
