block vendor_scripts
  script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/tween.js/16.3.5/Tween.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.5/dat.gui.min.js')
  script(src='https://threejs.org/build/three.min.js')
  script(src='https://threejs.org/examples/js/libs/ammo.js')
  script(src='https://threejs.org/examples/js/libs/stats.min.js')
  script(src='https://threejs.org/examples/js/controls/OrbitControls.js')
  script(src='https://threejs.org/examples/js/loaders/DDSLoader.js')
  script(src='https://threejs.org/examples/js/loaders/MTLLoader.js')
  script(src='https://threejs.org/examples/js/loaders/OBJLoader.js')
  script(src='https://threejs.org/examples/js/shaders/UnpackDepthRGBAShader.js')
  script(src='https://threejs.org/examples/js/objects/Sky.js')
  script(src='https://threejs.org/examples/js/objects/Water2.js')
block scripts
  script(src='/dist/game.js')
